<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SynonymGuru</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/app.js"></script>


</head>
<body>
    <div class="navbar">
        <div class="logo"><a href="index.html">SynonymGuru</a></div>
        <ul class="nav-links">
            <li><a href="aboutus.html">About Us</a></li>
            <li><a href="contactus.html">Contact Us</a></li>
            <li><a href="socials.html">Socials</a></li>
        </ul>
    </div>

    <section class="contact">
    <h2>Contact Us!</h2>

    <form class="form" action="#">
        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Full Name" id="name" class="items" autocomplete="off">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Email Address" id="email" class="items" autocomplete="off">
            </div>
        </div>

        <div class="input-box">
            <div class="input-field">
                <input type="text" placeholder="Phone Number" id="phone" class="items" autocomplete="off">
            </div>
            <div class="input-field">
                <input type="text" placeholder="Subject" id="subject" class="items" autocomplete="off">
            </div>
        </div>

        <div class="textarea-field">
            <textarea name="" id="message" cols="30" rows="10" placeholder="Your Message" class="items" autocomplete="off"></textarea>
        </div>

        <button type="submit">Send Message</button>
    </form>
</section>

</body>
</html>

